* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.3;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 10rem 0;
}

.section-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 1.3px #231f20;
}

.section-description {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  color: #231f20;
}

.m-standard {
  margin-top: 8rem;
}

.decoration-box {
  position: absolute;
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  border-radius: 5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  transform: rotate(-20deg);
  z-index: -1;
}

.cookie-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 2px transparent;
  max-width: 50rem;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  padding: 3rem 4rem;
}
.cookie-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.cookie-modal .cookies-text {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 3rem;
}

.btn {
  position: relative;
  padding: 1.5rem 4rem;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: 2px solid transparent;
  color: #f2f2f2;
  background: transparent;
  letter-spacing: 5px;
  z-index: 0;
  overflow: hidden;
}
.btn::after, .btn::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  background-color: transparent;
  z-index: -1;
  transition: width 0.3s, height 0.3s;
}
.btn::after {
  top: 0;
  left: 0;
  border-top: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
}
.btn::before {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}
.btn:hover::after, .btn:hover::before {
  width: 100%;
  height: 100%;
}
.btn:focus {
  outline: none;
}
.btn:focus::after, .btn:focus::before, .btn:active::after, .btn:active::before {
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 7rem;
  background-color: transparent;
  transition: all 0.3s;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
}
.nav__logo {
  font-size: 3.5rem;
  line-height: 1;
  color: #231f20;
  font-weight: 900;
}
.nav__logo span {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1.3px #f2f2f2;
  font-size: 4.5rem;
}
.nav .nav-links {
  display: flex;
}
.nav .nav-links__link {
  position: relative;
  overflow: hidden;
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem 2rem;
}
.nav .nav-links__link:not(:last-child) {
  margin-right: 2rem;
}
.nav .nav-links__link::after, .nav .nav-links__link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  opacity: 0;
  background-color: transparent;
  z-index: -1;
  transition: width 0.6s 0.3s, height 0.6s, opacity 0.3s;
}
.nav .nav-links__link::after {
  top: 0;
  left: 0;
  border-top: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
}
.nav .nav-links__link::before {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}
.nav .nav-links__link:hover::after, .nav .nav-links__link:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.nav .nav-links__link:focus {
  outline: none;
}
.nav .nav-links__link:focus::after, .nav .nav-links__link:focus::before, .nav .nav-links__link:active::after, .nav .nav-links__link:active::before {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.nav.expand {
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  height: 7.5rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  display: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 0;
  overflow: hidden;
}
.header::after {
  position: absolute;
  content: "";
  width: 200rem;
  height: 100rem;
  top: -50%;
  left: -5%;
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  border-radius: 5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  transform: rotate(-20deg);
  z-index: -1;
}
.header .header-body {
  perspective: 100rem;
  display: flex;
  align-items: center;
}
.header .header-body .header-text {
  transform: rotateX(5deg) rotateY(-5deg);
  width: 50%;
}
.header .header-body .header-text__heading {
  font-size: 10rem;
  line-height: 1;
  color: #f2f2f2;
  margin-bottom: 2rem;
}
.header .header-body .header-text__heading span {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1.3px #f2f2f2;
}
.header .header-body .header-text__description {
  font-size: 2rem;
  color: #f2f2f2;
}
.header .header-body .header-text__btn {
  margin-top: 2rem;
}
.header .header-body .header-image {
  perspective: 100rem;
  width: 50%;
}
.header .header-body .header-image__img {
  transform: rotateX(5deg) rotateY(-5deg);
}

.header .wrapper {
  max-width: 130rem;
}

.achievements {
  overflow: hidden;
}

.achievements-box {
  display: flex;
  gap: 5rem;
}
.achievements-box .achievement-card {
  border: 2px solid #00ab80;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  width: 33%;
  opacity: 0;
}
.achievements-box .achievement-card__icon {
  margin: 1rem auto;
  width: 20rem;
}
.achievements-box .achievement-card__title {
  color: #231f20;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.achievements-box .achievement-card__description {
  font-size: 1.8rem;
  font-weight: 300;
}

.achievement-card.show {
  animation: appearingFromBottom 1s forwards;
}
.achievement-card.show:nth-child(2) {
  animation-delay: 0.3s;
}
.achievement-card.show:nth-child(3) {
  animation-delay: 0.6s;
}

.about {
  position: relative;
}
.about .decoration-box:nth-child(1) {
  top: 50%;
  left: -5%;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.about .decoration-box:nth-child(2) {
  top: 10%;
  right: 5%;
  transform: rotate(34deg);
  width: 10rem;
  height: 10rem;
}
.about .about-body {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.about .about-body .about-left {
  width: 50%;
}
.about .about-body .about-left .section-heading,
.about .about-body .about-left .section-description {
  text-align: left;
}
.about .about-body .about-left .strategy {
  margin-top: 2rem;
  padding: 2rem;
}
.about .about-body .about-left .strategy .strategy-item {
  opacity: 0;
  transform: translateX(-100%);
  padding: 2rem 0;
}
.about .about-body .about-left .strategy .strategy-item:nth-child(even) {
  color: #231f20;
  padding: 2rem;
}
.about .about-body .about-left .strategy .strategy-item:not(:last-child) {
  border-bottom: 2px solid #00ab80;
  margin-bottom: 2rem;
}
.about .about-body .about-left .strategy .strategy-item__top {
  font-size: 2.4rem;
  font-weight: bold;
  color: #231f20;
  margin-left: 1rem;
}
.about .about-body .about-left .strategy .strategy-item__top span {
  font-size: 5rem;
  margin-right: 1rem;
}
.about .about-body .about-left .strategy .strategy-item__top--second {
  color: #231f20;
}
.about .about-body .about-left .strategy .strategy-item__top--second span {
  color: transparent;
  -webkit-text-stroke: 1.3px #231f20;
}
.about .about-body .about-left .strategy .strategy-item__bottom {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 300;
  color: #231f20;
}
.about .about-body .about-left .strategy .strategy-item__bottom--second {
  color: #231f20;
}
.about .about-body .strategy-item.show {
  animation: appearingFromLeft 1s forwards;
}
.about .about-body .about-right {
  perspective: 1000px;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 95rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 0;
}
.about .about-body .about-right::after {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 214, 160, 0.9);
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
}
.about .about-body .about-right__heading {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(5deg) rotateY(-5deg);
  z-index: 1;
  font-size: 9rem;
  font-weight: 900;
  text-align: center;
  color: #f2f2f2;
}
.about .about-body .about-right__heading span {
  color: transparent;
  -webkit-text-stroke: 1.3px #f2f2f2;
}
.about .about-body .about-right__img {
  border-radius: 1rem;
  height: 100%;
  z-index: 0;
}

.newsletter-body {
  display: flex;
  align-items: center;
  min-height: 40rem;
  padding: 2rem;
  border-radius: 2rem;
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
}
.newsletter-body .section-heading {
  -webkit-text-stroke: 2px transparent;
  background: linear-gradient(173deg, rgb(242, 242, 242) 15%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.newsletter-body .newsletter-btn {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  position: relative;
}
.portfolio .decoration-box:nth-child(1) {
  top: 20%;
  left: 20%;
  width: 30rem;
  transform: translateY(-10%);
  height: 30rem;
  border-radius: 50%;
}
.portfolio .decoration-box:nth-child(2) {
  top: 10%;
  right: 5%;
  transform: rotate(34deg);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.portfolio-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: start;
  grid-template-areas: "one one two three" "four five six six";
  gap: 2rem;
}
.portfolio-box .portfolio-item {
  height: 25rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  overflow: hidden;
}
.portfolio-box .portfolio-item:nth-child(1) {
  grid-area: one;
}
.portfolio-box .portfolio-item:nth-child(2) {
  grid-area: two;
}
.portfolio-box .portfolio-item:nth-child(3) {
  grid-area: three;
}
.portfolio-box .portfolio-item:nth-child(4) {
  grid-area: four;
}
.portfolio-box .portfolio-item:nth-child(5) {
  grid-area: five;
}
.portfolio-box .portfolio-item:nth-child(6) {
  grid-area: six;
}
.portfolio-box .portfolio-item__img {
  height: 100%;
}
.portfolio-box .portfolio-item:hover {
  transform: scale(1.05);
}

.prices {
  background-color: #fff;
  margin: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.prices .prices-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.prices .prices-box .price-card {
  padding: 4rem 2rem;
  border-radius: 1rem;
  background: linear-gradient(173deg, rgba(40, 191, 207, 0.65) 35%, rgba(12, 240, 111, 0.35) 100%);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
}
.prices .prices-box .price-card__title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
  background: linear-gradient(173deg, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prices .prices-box .price-card__title--second {
  background: linear-gradient(173deg, rgb(242, 242, 242) 15%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prices .prices-box .price-card__price {
  font-size: 2rem;
}
.prices .prices-box .price-card__price--second {
  color: #fff;
}
.prices .prices-box .price-card__price span {
  color: #231f20;
  font-size: 4rem;
  font-weight: 300;
}
.prices .prices-box .price-card .price-list {
  padding: 1rem;
  margin: 3rem 0;
}
.prices .prices-box .price-card .price-list__item {
  font-size: 1.8rem;
  font-weight: 300;
}
.prices .prices-box .price-card .price-list__item--second {
  color: #fff;
}
.prices .prices-box .price-card .price-list__item:not(:last-child) {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.prices .prices-box .price-card .btn {
  color: #231f20;
}
.prices .prices-box .price-card .btn::after, .prices .prices-box .price-card .btn::before {
  border-color: #00ab80;
}
.prices .prices-box .price-card .btn--best-price {
  color: #fff;
}
.prices .prices-box .price-card .btn--best-price::after, .prices .prices-box .price-card .btn--best-price::before {
  border-color: #fff;
}
.prices .prices-box .price-card--second {
  transform: scale(1.1);
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
}

.price-card.show {
  animation: appearingFromBottom 1s forwards;
}
.price-card.show:nth-child(2) {
  animation-delay: 0.3s;
}
.price-card.show:nth-child(3) {
  animation-delay: 0.6s;
}

.contact {
  position: relative;
  overflow: hidden;
}
.contact .decoration-box {
  top: -20%;
  right: 80%;
  transform: translateX(-30%) rotate(39deg);
  width: 40rem;
  height: 40rem;
}
.contact .decoration-box:nth-child(2) {
  top: 5%;
  right: 10%;
  transform: rotate(-19deg);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.contact-body {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.contact-body .contact-top {
  display: flex;
}
.contact-body .contact-bottom {
  border-radius: 1rem;
  overflow: hidden;
}
.contact-body .contact-bottom iframe {
  height: 30rem;
  width: 100%;
  filter: grayscale(100%) invert(100%);
}
.contact-body .contact-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-body .contact-content__heading {
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}
.contact-body .contact-content__text {
  font-size: 1.8rem;
}
.contact-body .contact-content .contact-ways {
  margin: 3rem 0;
}
.contact-body .contact-content .contact-ways__item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.contact-body .contact-content .contact-ways__item:not(:last-child) {
  margin-bottom: 2rem;
}
.contact-body .contact-content .contact-ways__item i {
  margin-right: 2rem;
  font-size: 2.5rem;
}
.contact-body .contact-content .social-box {
  display: flex;
  gap: 3rem;
}
.contact-body .contact-content .social-box__item {
  font-size: 3.5rem;
  color: #00ab80;
  transition: color 0.3s;
}
.contact-body .contact-content .social-box__item:hover {
  color: #231f20;
}
.contact-body .contact-form {
  width: 50%;
  padding: 4rem 4rem 2rem 4rem;
  background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  z-index: 0;
}
.contact-body .contact-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.contact-body .contact-form .form .form-box {
  display: flex;
  flex-direction: column;
}
.contact-body .contact-form .form .form-box label {
  background: linear-gradient(173deg, rgb(242, 242, 242) 15%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.contact-body .contact-form .form .form-box input {
  margin-bottom: 1.5rem;
}
.contact-body .contact-form .form .form-box textarea {
  resize: none;
  height: 15rem;
  margin-bottom: 2rem;
}
.contact-body .contact-form .form .form-box input,
.contact-body .contact-form .form .form-box textarea {
  font-weight: bold;
  font-family: inherit;
  padding: 1rem;
  border: none;
  background: linear-gradient(173deg, rgb(242, 242, 242) 15%, rgb(255, 255, 255) 100%);
  border-radius: 0.4rem;
}
.contact-body .contact-form .form .form-btn {
  align-self: flex-end;
  width: 40%;
}

.footer {
  padding: 2rem;
  background-color: #231f20;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}

@keyframes appearingFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appearingFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1600px) {
  .header::after {
    transform: rotate(0);
    top: 0;
  }
}
@media (max-width: 1500px) {
  .nav .wrapper {
    padding: 0 2rem;
  }
  .header .header-body {
    padding: 0 2rem;
  }
  .section {
    padding: 10rem 2rem;
  }
}
@media (max-width: 1200px) {
  .header .header-body .header-text__heading {
    font-size: 8rem;
  }
  .achievements-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .achievements-box .achievement-card {
    width: 45%;
  }
  .decoration-box {
    display: none;
  }
  .about .about-body {
    flex-direction: column;
  }
  .about .about-body .about-left {
    width: 100%;
  }
  .about .about-body .about-right {
    width: 100%;
    justify-content: center;
  }
  .newsletter-body {
    min-height: 35rem;
  }
  .newsletter-body .section-heading {
    font-size: 4rem;
  }
  .prices .prices-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices .prices-box .price-card {
    width: 55%;
  }
  .portfolio-box {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "one  two  two" "three  three  four" "five  six six  ";
    gap: 2rem;
  }
  .contact-body .contact-form .form .form-btn {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .menu-btn {
    display: flex;
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 101;
  }
  .menu-btn__bars {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: rotate(0);
    transition: transform 1s;
  }
  .menu-btn__bars span {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #231f20;
    box-shadow: 1px 1px 3px rgba(242, 242, 242, 0.1);
    border-radius: 2rem;
    transition: all 0.3s 1s;
  }
  .menu-btn__bars span:nth-child(1) {
    top: 25%;
    transform: translateY(-25%);
    width: 60%;
    left: 0;
  }
  .menu-btn__bars span:nth-child(2) {
    width: 100%;
    transform: scaleX(1);
    opacity: 1;
  }
  .menu-btn__bars span:nth-child(3) {
    top: 75%;
    transform: translateY(-75%) rotate(0);
    right: 0;
    width: 60%;
  }
  .menu-btn.active .menu-btn__bars {
    transform: rotate(315deg);
  }
  .menu-btn.active .menu-btn__bars span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
  }
  .menu-btn.active .menu-btn__bars span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .menu-btn.active .menu-btn__bars span:nth-child(3) {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(90deg);
  }
  .nav {
    height: 100vh;
    background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
    transform: translateX(100%);
    transition: transform 0.3s 1s;
  }
  .nav__logo {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  .nav__logo span {
    font-size: 6rem;
  }
  .nav .wrapper {
    flex-direction: column;
  }
  .nav .wrapper .nav-links {
    text-align: center;
    flex-direction: column;
  }
  .nav .wrapper .nav-links__link {
    font-size: 4rem;
    margin: 2rem 0;
  }
  .nav.expand {
    background: linear-gradient(173deg, rgb(0, 170, 171) 25%, rgb(0, 214, 160) 100%);
    height: 100vh;
    box-shadow: 0;
  }
  .nav.active {
    transform: translateX(0);
  }
  .header .header-body .header-text__heading {
    font-size: 6rem;
  }
  .newsletter-body {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
  }
  .contact-body .contact-top {
    flex-direction: column;
  }
  .contact-body .contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-body .contact-form {
    width: 100%;
  }
  .contact {
    padding: 10rem 2rem 2rem 2rem;
  }
}
@media (max-width: 767px) {
  .header .header-body {
    flex-direction: column;
  }
  .header .header-body .header-text {
    width: 100%;
  }
  .header .header-body .header-image {
    width: 80%;
  }
  .achievements-box .achievement-card {
    width: 85%;
  }
  .about .about-body .about-right__heading {
    width: 100%;
    font-size: 8rem;
  }
  .newsletter-body {
    min-height: 30rem;
  }
  .newsletter-body .section-heading {
    font-size: 3rem;
  }
  .prices .prices-box .price-card {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .nav .wrapper .nav-links__link {
    font-size: 3rem;
  }
  .section-heading {
    font-size: 4rem;
  }
  .about .about-body .about-right__heading {
    font-size: 7rem;
  }
  .contact-body .contact-content__text {
    text-align: center;
  }
  .achievements-box .achievement-card {
    width: 100%;
  }
  .about .about-body .about-left .strategy {
    padding: 1rem;
  }
  .prices {
    margin: 0;
  }
  .cookie-modal {
    width: 90%;
  }
  .section {
    padding: 8rem 1rem;
  }
  .header .header-body {
    gap: 3rem;
  }
  .header .header-body .header-image {
    width: 100%;
  }
  .newsletter {
    padding: 8rem 0;
  }
  .newsletter-body {
    border-radius: 0rem;
  }
  .newsletter-body .newsletter-btn {
    width: 100%;
  }
  .header::after {
    top: -45%;
    left: -20%;
    width: 60rem;
    height: 100rem;
    transform: rotateZ(30deg);
  }
  .prices .prices-box .price-card {
    width: 100%;
  }
  .contact {
    padding: 8rem 1rem 2rem 1rem;
  }
  .newsletter-body {
    padding: 1rem;
  }
  .newsletter-body .section-heading {
    font-size: 2.5rem;
  }
  .contact-body .contact-form {
    padding: 2rem;
  }
}/*# sourceMappingURL=main.css.map */